.app_bg_color{
    background-color: #EEEEEE;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}


@media only screen and (max-width: 768px) {
    .container{
        display: none;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: 50%;
    }

    body::after {
        padding: 10px;
        color: black;
        content: 'Sorry, this App/Software can\'t be view by mobile, tablet and android phones';
    }

  }